:root {
    --white: white;
    --darkgray: #2a333d;
    --pink:rgb(105, 105, 221);
}

body {
    background-color: var(--darkgray);
    font-family: 'Courier New', Courier, monospace;
}

.top {
    text-align: center;
}

.top h1 {
    color: var(--pink);
}

.top p {
    color: var(--white);
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 40px 40px;
    margin: 100px 50px 50px 50px 
}

.section {
    padding: 5px;
    border: dashed var(--white);
    display: flex;
    flex-direction: column;
    flex: 1 0 30%;
    color: var(--white);

    
}

.section:hover,
.row {
    border-radius: 8px;
    transition: all 0.2s ease-in;
    color:white
}

.section:hover,
.section:hover .row {
    box-shadow: inset 0px 0px 10px
    rgb(238, 237, 243), 0 0 15px
    rgb(91, 106, 221);
}

.section .row {
    background-color: var(--darkgray);
    border:  solid var(--white);
    border-radius: 10px;
    margin: -30px 20px 0 20px;
    padding: 6px;
}

.section .text {
    color: var(--white);
}

.pre {
    background-image: linear-gradient(
    rgb(122, 102, 236, 0.3) 0%,
    rgba(1, 3, 19, 0.6) 100%
    );
    border-radius: 10px;
    box-shadow: 5px 5px 10px;
    color: var(--white);
}
.pre:active{
    user-select: all;
}

::selection{
    background-color: rgb(231, 88, 88);
}


@media screen and (max-width: 770px) {
    section {
        display: flex;
        flex: 0 0 50%;
      }
}


@media screen and (max-width: 700px) {
    section {
        display: flex;
        flex: 1 0 90%;
        flex-wrap: wrap;
    }
}
