:root {
    --darkgray: #33393f;
    --brightpurple: #e866ec;
}
* {
    font-family: 'Courier New', Courier, monospace;
}
h1 {
    color: var(--brightpurple);
}
body {
    background-color: var(--darkgray);
}
.top {
    text-align: center;
    margin-top: 25px;
}
.main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 30px;
    position: relative;
    row-gap: 50px;
    
}
nav {
    color: white;
    margin-bottom: 50px;
}
.section {
    border-style: dotted;
    color: var(--brightpurple);
    border-color: white;
    max-width: 25%; 
    display: grid;
    column-gap: 50px;

}
p.text {
    
  
}
h2 {
    line-height: 1.0;
}
.row {
    border-style: solid;
    font-weight: bold;
    border-radius: 10px;
    position: relative;
    margin-top: -30px;
    background-color: var(--darkgray);
    padding: 10px;
    height: fit-content;
    border-color: white;

}
.section .row {
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}
.section:hover,
.section:hover .row {
    box-shadow: inset 0px 0px 8px
    rgba(232, 102, 236, 1), 0 0 15px
    rgba(232, 102, 236, 1);
}

p {
    color: var(--brightpurple);
    line-height: 1.0;
    margin: 0%;

}
code {
    display: flex;
    color: white;
    white-space: pre-wrap;
    font-family: Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console',
    'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono',
    'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier,
    monospace;
}


pre code:active {
    user-select: all;
}

::selection {
    background-color: aqua;
    color: var(--darkgray);
}

.code {
    
    overflow: auto;
    border-style: solid;
    
}

.code.code {
    background-image: linear-gradient(
    rgba(232, 102, 236, 0.3) 0%,
    rgba(232, 102, 236, 0.6) 100%
    );
    border-radius: 10px;
}

@media screen and (max-width: 770px) {
    section {
        display:flex
        flex: 1 0 50%;
      }


@media screen and (max-width: 700px) {
    section {
        display: flex;
        flex: 1 0 90%;
        flex-wrap: wrap;
    }
}